.header {
}
.header__container {
    padding-top: 55px;
    padding-bottom: 83px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.site-logo {
}
.site-logo__img {
}
.header__link {
}
.btn {
}
.btn-dark {
}